@()

@helper.form(action = routes.Authentication.authenticate,
    args =  'class -> "navbar-form navbar-right",
            'style -> "margin-top: 0px; margin-bottom: 0px;") {
    <div class="form-group">
        <input type="text" name="email" value placeholder="E-Mail" class="form-control" oldautocomplete="remove"
        autocomplete="off">
    </div>
    <div class="form-group">
        <input type="password" name="code" value placeholder="Passwort" class="form-control" oldautocomplete="remove"
        autocomplete="off">
    </div>
    <button type="submit" class="btn btn-success navbar-btn" name="action" value="auth">Anmelden</button>
    <button type="submit" class="btn btn-default navbar-btn" name="action" value="signup">Registrieren</button>
}
