@(registrationForm: Form[Registration])
@import views.html.helper.bs3._

@main {

    @views.html.fragments.alert()

    <div class="col-md-10 col-md-offset-1">
        <h2 class="h2">Als neuer Kunde registrieren</h2>
        @helper.form(action = routes.Authentication.register, args = 'class -> "form-horizontal") {
            @inputText(registrationForm("email"), "E-Mail")
            @inputPassword(registrationForm("password"), "Passwort")
            @inputPassword(registrationForm("passwordCheck"), "Passwort bestätigen")
            @inputText(registrationForm("customerid"), "Kundennummer")
            <br>
            @inputText(registrationForm("firstname"), "Vorname")
            @inputText(registrationForm("name"), "Nachname")
            @inputDate(registrationForm("birthday"), "Geburtsdatum")
            @select(registrationForm("gender"), "Geschlecht")
            <br>
            @inputText(registrationForm("address.street"), "Straße")
            @inputText(registrationForm("address.houseNumber"), "Hausnummer")
            @inputText(registrationForm("address.postcode"), "PLZ")
            @inputText(registrationForm("address.city"), "Stadt")
            @inputText(registrationForm("address.state"), "Bundesland")
            @inputText(registrationForm("address.country"), "Land")
            @inputSubmit("Registrieren", "primary", "lg")
        }
    </div>
}
