*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/logs
/project/project
/project/target
/target
/*.iml
/.idea
/.idea_modules
/.settings
/db.h2.db
/testdb.h2.db

.sbtserver/

project/play-fork-run.sbt
