

div#track-dropdown {
    height: 100px;
    margin-top: 50px;
    width: 400px;
}
/*
* offset form from the top
*/
div.track-form {
    margin-top: 100px;
}


div.map-box-newtrack {
    height: 600px;
    width: 100%;
}

div.map-box-track {
    height: 600px;
    width: 100%;
}

/*
* user address style
*/
p.current-user-addr{
    color: #265a88;
    font-family: Arial;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    /*font-weight: bold;*/
}

/*
* map size and style
*/
div#map {
    height: 550px;
    width: 100%;
}

p.hint-paragraph{
    color: crimson;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 30px;
    position: absolute;
}

button.save-btn{
    margin-left: 150px;
    margin-top: -40px;
    position: absolute;
}

/* IMPORTANT: This hides the route instruction in the map
but it still gets calculated in leaflet-routing-machine.js line 759ff*/
body .leaflet-routing-alt table {
    display: none;
}