

div#track-dropdown {
    height: 100px;
    margin-top: 50px;
    width: 400px;
}
/*
* offset form from the top
*/
div.track-form {
    margin-top: 100px;
}

/*
div.border-track-form {
    background: #b9def0;
    border: 2px solid #b9def0;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    height: 320px;
    padding: 20px 0px 20px 20px;
    width: 360px;
}
*/


div.map-box-1 {
    height: 600px;
    width: 100%;
}

 div.map-box {
     height: 600px;
     width: 100%;
 }

/*
* user address style
*/
p.current-user-addr{
    color: #265a88;
    font-family: Arial;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    /*font-weight: bold;*/
}

/*
* map size and style
*/
div#map {
    height: 550px;
    width: 100%;
}

p.hint-paragraph{
    color: crimson;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 30px;
    position: absolute;
}

button.save-btn{
    margin-left: 150px;
    margin-top: -40px;
    position: absolute;
}

/* IMPORTANT: This hides the route instruction in the map
but it still gets calculated in leaflet-routing-machine.js line 759ff*/
body .leaflet-routing-alt table {
    display: none;
}