@(field: Field, label: String = "", optionMap: List[String] = Tracks.getTrackName, help: String = "")

<div class="form-group @if(field.hasErrors) {has-error}">
  <label class="col-sm-4 control-label" for="@field.id">@label</label>
  <div class="col-sm-6">
    <select
    class="form-control"
    id="@field.id"
    name="@field.name"
    <option class="blank" value="">auswählen</option>
    @for((optionName) <- optionMap) {
      <option id="@optionName" value="@optionName">@optionName</option>
    }
    </select>
    <span class="help-block">@help</span>
    <span class="help-block">@{field.error.map { error => error.message }}</span>
  </div>
</div>