@(changePasswordForm: Form[ChangePassword], changeUserCredentialsForm: Form[ChangeUserCredentials])
@import views.html.helper.bs3._


@main {
    @views.html.fragments.alert()

    <h1>Konto</h1>
    <div style="...">
        <h2>Passwort &auml;ndern</h2>
        @helper.form(action = routes.Account.changePassword(),'id -> "changePasswordForm"){
            @helper.inputPassword(changePasswordForm("password"),'_label -> "*Passwort")
            @helper.inputPassword(changePasswordForm("passwordCheck"),'_label -> "*Passwort wiederholen:")

            @inputSubmit("Ändern")
        }
    </div>
    <div style = "...">
        <h2>Daten &auml;ndern</h2>
        @helper.form(action = routes.Account.changeUserCredentials, 'id -> "changeUserCredentialsForm"){
            @inputText(changeUserCredentialsForm("email"), "E-Mail")
            @inputText(changeUserCredentialsForm("customerid"), "Kundennummer")
            <br>
            @inputText(changeUserCredentialsForm("firstname"), "Vorname")
            @inputText(changeUserCredentialsForm("name"), "Nachname")
            @inputDate(changeUserCredentialsForm("birthday"), "Geburtsdatum") <!-- mock -->
            @select(changeUserCredentialsForm("gender"), "Geschlecht")
            <br>
                @inputText(changeUserCredentialsForm("address.street"), "Straße")
                @inputText(changeUserCredentialsForm("address.houseNumber"), "Hausnummer")
                @inputText(changeUserCredentialsForm("address.postcode"), "PLZ")
                @inputText(changeUserCredentialsForm("address.city"), "Stadt")
                @inputText(changeUserCredentialsForm("address.state"), "Bundesland")
                @inputText(changeUserCredentialsForm("address.country"), "Land")
                @inputSubmit("Ändern")
            }
    </div>

}