@()

<nav class="navbar navbar-default" role="navigation">
    <div class="userbar">
        @fragments.userbar()
    </div>
    <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Navigation ein-/ausblenden</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="@routes.Application.index">HAWAI-AST</a>
        </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <img src="/assets/images/Logo-Palme.png" style="height: 50px;">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/#">Übersicht</a>
                </li>
                <li>
                    <a href="tracks" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Strecken</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/tracks">Strecken anzeigen</a></li>
                        <li><a href="/newtracks">Neue Strecke</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/bikes">Meine Fahrr&auml;der</a>
                </li>
            </ul>

        </div>
            <!-- /.navbar-collapse -->
    </div>
        <!-- /.container -->
</nav>



<!--
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li>
    </ul>
 -->
