@(trackForm: Form[TrackRegistration])
@import views.html.helper.bs3._

@main {
  <div class="col-md-10 col-md-offset-1">
    <h2 class="h2">Eine neue Strecke eintragen</h2>
    <div style="height:450px; width:450px; background:#5cb85c; float:right;"></div>
    <div >
      <div style="float:left; width:400px;">
        @helper.form(action = routes.Tracks.newtracks, 'class -> "form-horizontal") {
          @inputText(trackForm("name"), "Streckenname:")
          @selectBike(trackForm("id"), "Fahrrad:")
          @inputTime(trackForm("time"), "Startzeit")
        }
      </div>
    </div>
  </div>



}