
@(trackForm: Form[TrackRegistration])
@import views.html.helper.bs3._

@main {
  <div class="col-md-12 col-md-offset-1">
    <h2 class="h2">Eine neue Strecke eintragen</h2>
    <div class="col-md-4">
      <div>
        @helper.form(action = routes.Tracks.newtracks, 'class -> "form-horizontal") {
          @inputTextTrack(trackForm("name"), "Streckenname:")
          @selectBike(trackForm("id"), "Fahrrad:")
          @inputTime(trackForm("startAt"), "Startzeit")
          @inputTime(trackForm("finishedAt"), "Endzeit")

        }
      </div>
    </div>
    <div style="background:#5cb85c; border: black solid; float:right; height:550px; width:720px;"></div>

  </div>



}