@(trackForm: Form[Track], currentUserAddress: String)

@import views.html.helper.bs3._

@main {
    <div class="col-md-8">
            <!-- Map -->
        <div class="map-box-track">
            <p class="current-user-addr"> Home sweet home: @{currentUserAddress} </p>

            <div id="map"></div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="track-dropdown">
        @selectTrack(trackForm("name"), "Wählen Sie eine Strecke:")
        </div>

        <div class="track-form">
            @helper.form(action = routes.Tracks.saveTracks, 'class -> "form-horizontal") {
                @inputTextTrack(trackForm("streckenname"), "Streckenname:")
                @selectBike(trackForm("bike"), "Fahrrad:")
                @inputTextTrack(trackForm("startAt"), "Startzeit:")
                @inputTextTrack(trackForm("finishedAt"), "Endzeit:")
                <!-- @inputSubmit("Änderung speichern", offset="4") -->
        }
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-md btn-default" onclick="updateRoute(control, lengthInKm)">Änderung Speichern</button>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">

    // Initialize routing control for map
    var control = addControl();
    // Get total distance from map
    var lengthInKm = getLengthInKm(control);
    // Initialize and load map
    var map = loadMap("@{currentUserAddress}", control, lengthInKm);

   var sel = document.getElementById('name');
   sel.onchange =   function() {
                var trackId = document.getElementById("name").value;
                //$.post("/getTrack/" + trackId).done();
                $.ajax({
                url: ("/getTrack/" + trackId),
                type: "POST",
                success: function(result) {
                    var waypoints = result.waypoints;
                    var arrayWaypoints = [];

                    waypoints.forEach(function(waypoint) {
                        var currentLat = waypoint.latitude;
                        var currentLng = waypoint.longitude;
                        arrayWaypoints.push(L.latLng(currentLat, currentLng));
                    });

                    // add waypoint of track to map
                    control.setWaypoints(arrayWaypoints);

                    var streckenname = result.name;
                    document.getElementById("streckenname").value = streckenname;

                    var bikeId = result.bikeID;
        //            document.getElementById("bikeId").id = bikeId;
                    document.getElementById("bike").value = bikeId;


        //            var bikeType = result.name;
        //            document.getElementById("bikeId").value = bikeType;

                    var startAt = result.startAt;
                    document.getElementById("startAt").value = startAt;

                    var finishedAt = result.finishedAt;
                    document.getElementById("finishedAt").value = finishedAt;
                }
            });
    }
    </script>
}