@()

@helper.form(action = routes.Application.signout, args = 'class -> "navbar-form navbar-right") {
    <!-- Split button -->
    <div class="btn-group">
        <button type="button" class="btn btn-info">@session.get("email")</button>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Kontomenü</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/profile">Konto Einstellungen</a></li>
        </ul>
    </div>
    <button type="submit" class="btn btn-primary" value="signout">Abmelden</button>
}
