@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>HAWAI AST - @title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/signin.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

    </head>

    <body>

        <div id="header">
            <h1>HAWAI After-Sales-Tracker</h1>
        </div>

        <div id="nav">
        @if(controllers.Application.isUserLoggedIn) {
            @member.sidebar()
        } else {
            @guest.sidebar()
        }
        </div>

        <div id="section">
        @content
        </div>

        <div id="footer">
        @fragments.footer()
        </div>

    </body>
</html>
