@()

@main(" - Map Test") {

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <link rel="stylesheet" href="/assets/leaflet-routing-machine-2.3.0/leaflet-routing-machine.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="/assets/leaflet-routing-machine-2.3.0/leaflet-routing-machine.js"></script>

  <style type="text/css">
    #map { height: 300px; width: 900px; }
  </style>

  <div id="map"></div>

  <script type="application/javascript">
    // hardcoded Hamburg GPS data
    var map = L.map('map').setView([53.5502099, 9.9993636], 13);

    // http://{s}.tiles.mapbox.com/v3/MapID/{z}/{x}/{y}.png
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18
    }).addTo(map);

    // add basic routing control
    L.Routing.control({
      waypoints: [
        L.latLng(53.4897, 10.2086),
        L.latLng(53.5571614, 10.023104)
      ]
    }).addTo(map);
  </script>


}