@(title: String, loginForm: Form[Login], registrationForm: Form[Registration])

@main(" - " + title) {

    <h1>@title</h1>

    <div id="signin_box">
        <h3>Anmelden</h3>
        @helper.form(action = routes.Application.authenticate) {
            @helper.inputText(loginForm("email"), '_label -> "E-Mail:")
            @helper.inputPassword(loginForm("code"), '_label -> "Passwort:")
            <input type="submit" value="Einloggen"/>
        }
    </div>

    <div id="signin_box">
        <h3>Als neuer Kunde registrieren</h3>
        @helper.form(action = routes.Application.register) {
            @helper.inputText(registrationForm("email"), '_label -> "*E-Mail:")
            @helper.inputPassword(registrationForm("password"), '_label -> "*Passwort:")
            @helper.inputPassword(registrationForm("passwordCheck"), '_label -> "*Passwort wiederholen:")
            <br/>
            @helper.inputText(registrationForm("customerid"), '_label -> "*Kundennummer:")
            @helper.inputText(registrationForm("firstname"), '_label -> "*Vorname:")
            @helper.inputText(registrationForm("name"), '_label -> "*Nachname:")
            @helper.inputDate(registrationForm("birthday"), '_label -> "*Geburtsdatum:")
            @helper.select(field = registrationForm("gender"),
                options = Seq("male" -> "Männlich", "female" -> "Weiblich"),
                '_label -> "Geschlecht:",
                '_default -> "-- Bitte wählen --"
            )
            @helper.inputText(registrationForm("address.street"), '_label -> "*Straße:")
            @helper.inputText(registrationForm("address.houseNumber"), '_label -> "*Hausnummer:")
            @helper.inputText(registrationForm("address.postcode"), '_label -> "*PLZ:")
            @helper.inputText(registrationForm("address.city"), '_label -> "*Ort:")
            @helper.inputText(registrationForm("address.state"), '_label -> "*Bundesland:")
            @helper.inputText(registrationForm("address.country"), '_label -> "*Land:")
            <br/>
            <p id="hint">* Pflichtangabe</p>
            <input type="submit" value="Registrieren"/>
        }
    </div>

}